
  /* ==========media screen 600 px======= */

  @media only screen and (max-width: 600px) {

    h1{
        font-size: 30px;
        
    }
    h2{
        font-size: 25px;
    }
    h3{
        font-size: 20px;
        
    }
    .banner h3{
        
        
    }
    .container{
        width: 96%;
        
    }
    section{
        padding: 50px 0;
    }
    
       
    nav {
   
        display: block;
      
    }
    
    nav h4 {
        margin: 0;
        font-size: 20px;
        text-align: center;
        padding: 10px 0 0 0;
    }
    
    nav h4 span{
    
        width: 100%;
    }
    nav ul {
      padding: 0;
      display: flex;
      justify-content: center;
    }
    
     nav ul li {
        margin: 10px 5px 10px 5px;
    }
    
    nav ul li a {
      font-size: 16px;
    }

 /* =========Toggle Menu ===== */

 label {
    display: block;
    cursor: pointer;
    margin-top: -15%;
    color: white;
}
.tmenu {
    text-align: center;
    color: white;
    display: none;
}
.tmenu a {
    display: block;
    border-bottom: 1px solid #000000;
    background-color: white;
    color: #000000;
   
 
}
#toggle:checked + .tmenu {
    display: block;
    
}
    
/* ==========toggle menu end======= */

    
    /* =========Banner Section===== */

    .banner{
        padding: 60px 0 70px;
        text-align:center;
        color: white;
    }
    .banner h3{
        /* font-size: 30px; */
        font-style:italic;
        margin: 0 0 10px 0;
    }
    
    span{
       
        height: 3px;
        width: 120px;
        display: inline-block;
        border-radius: 10px;
    }
    
    .banner button {
      
        padding: 12px 22px;
        font-size: 18px;
        letter-spacing: 1px;
       
       
    }
    .banner button:hover{
        background-color: #d1181800;
        letter-spacing: 3px;
    }
    /* UPCOMING EVENTS */
  p{
    text-align: justify;
  }
    .event{
        display: block;
        width: 100%;
        margin: 30px auto 0;
    }
    .event-box{
        width: 96%;
        margin: 0px auto;
    }
    .event-box img{
        height: 300px;
        
    }
.event-img-mobile{
    margin-top: 50px;
}

    /* EXPLORE THE WORLD */
  
    .explore-main{
        
        display: block;
    }
    .explore{
        width: 100%;
    }
  
    .explore p{
        margin: 40px 0;
    }
    .explore a{
        font-size: 18px;
        font-weight: bold;
    }
   
    /* TOURS & DESTINATION */
    .tours-main{
     /* display: grid;
     grid-template-columns: repeat(2,1fr); */
     display: block;
    }
    .tour{
        padding: 10px;
    }
    
    .tour p{
        margin: 20px 0px;
       
    }
    /* .tour a{
        
    }
    .tour img{
        display: inline-block;
    } */
    .small{
        height: 300px;
       margin: 0 0 10px 0;
    }
    .large{
        height: 300px;
        margin: 0 0 10px 0;
    }
    
    /* footer */
    footer{
        padding: 30px 10px;
    
    }

    .fab{
        font-size: 25px;
        margin: 5px;
    }

    .foooter-item {
        width: 50%;
    }
    
    .foooter-item h3 {
        font-size: 15px;
        text-align: left;
        color: rgb(184, 6, 51);
    }
   
    
    .foooter-item ul a {
        text-decoration: none;
    }
 
    .foooter-item ul li {
        font-size: 14px;
      
    }
    .footer-end{
       
        margin-top: 400px;
    
    }
    .navbar-color{
   
        margin-top: -4%;
    
      }
    
  }
/*Tab Device Media Query*/
@media only screen and (min-width: 601px) and (max-width: 768px) {

    h1{
        font-size: 40px;
        
    }
    h2{
        font-size: 30px;
    }
    h3{
        font-size: 25px;
    }
    .container{
        width: 98%;
        
    }
    section{
        padding: 60px 0;
    }
    
    nav h4 {
        font-size: 25px;
        margin: 0;
        text-align: left;
        padding: 15px;
    }
    
    nav ul {
      padding: 0;
      display: flex;
      justify-content: center;
    }
    
     nav ul li {
        margin: 0px 15px 10px 5px;
    }
    
    nav ul li a {
      font-size: 18px;
    }
    
    /* =========Banner Section===== */
    
    .banner{
        padding: 100px 0 110px;
        text-align:center;
        color: white;
    }
    
    span{
        height: 4px;
        width: 140px;
    }
    
    .banner button {
        padding: 15px 30px;
        font-size: 18px;
        letter-spacing: 2px;  
    }
    
   
   /* UPCOMING EVENTS */
 
    .event{
        width: 90%;
    }
    .event-box{
        width: 50%;
        margin: 15px;
    }
    .event-box img{
        height: 320px;
    }

    
    /* EXPLORE THE WORLD */
    
    .explore-main{
        
        display: block;
    }
    .explore{
        width: 80%;
        margin: auto;
    }
    
    .explore p{
        margin: 40px 0;
    }
  
    
    /* TOURS & DESTINATION */
    
    .tour{
        padding: 15px;
    }
    
    .tour p{
        margin: 20px 0px;
       
    }
    
    .small{
        height: 300px;
       margin: 0 0 10px 0;
    }
    .large{
        height: 350px;
        margin: 0 0 10px 0;
    }
    
    /* footer */
    footer{
        padding: 50px 10px;
    }
    
    .fab{
        font-size: 30px;
        margin: 7px;
    }
    .foooter-container{
        margin-left: 20%;
    }
    .foooter-item {
        width: 50%;
        margin:auto;
    }
    
    .foooter-item h3 {
        font-size: 20px;
        text-align: left;
        font-weight: 800;
        color: rgb(184, 6, 51);
    }
    
    
    .foooter-item ul a {
        text-decoration: none;
    }
    
    .foooter-item ul li {
        font-size: 16px;
      
    }
    .footer-end{
       
        margin-top: 450px;
    
    }
    .navbar-color{
     
    margin-top: -2%;
         
           }

}
/*small laptop, squre monitor*/

@media only screen and (min-width: 769px) and (max-width: 1024px) {

    h1{
        font-size: 50px;
        
    }
    h2{
        font-size: 35px;
    }
    h3{
        font-size: 25px;
    }
    .container{
        width: 90%;
        margin: auto;
    }
    .foooter-container{
        margin-left: 20%;
    }
    .foooter-item {
        width: 50%;
        margin:auto;
    }
    
    .foooter-item h3 {
        font-size: 20px;
        text-align: left;
        font-weight: 800;
        color: rgb(184, 6, 51);
    }
    
    
    .foooter-item ul a {
        text-decoration: none;
    }
    
    .foooter-item ul li {
        font-size: 16px;
      
    }
    .footer-end{
       
        margin-top: 450px;
    
    }
    .navbar-color{
     margin-top: -2%;
         
           }

}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {

    h1{
        font-size: 60px;
        
    }
   
    .foooter-container{
      
         margin-left: 13.5%; 
    }

}


@media only screen and (min-width: 1441px) and (max-width: 2560px) {

   
   
    .foooter-container{
      
         margin-left: 15%; 
    }

}