@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

html {
    scroll-behavior: smooth;
  }

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 17px;
    font-family: "Roboto", sans-serif;
}

img{
    width: 100%;
}
h1{
    font-size: 70px;
    
}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
.container{
    width: 90%;
    margin: auto;
}
section{
    padding: 50px 0;
}

header {
    background-image: url(../images/dawn.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #000000ad;
    background-blend-mode: multiply;
    padding: 15px 0;
}

nav {
    /* position: fixed; */
    /*z-index: 10;
    background-color:white;*/
    left:0;
    right:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h4 {
    color: white;
    font-size: 24px;
}

nav h4 span{
    font-weight:100;
    background-color: rgba(255, 0, 0, 0);
    height: 0px;
    width: 0px;
}
nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

 nav ul li {
    margin: 0 0 0 20px;
}

nav ul li a {
   color: white;
   text-decoration: none;
   text-transform:capitalize;
   /* font-size: 17px; */
   font-weight: 600;
}


.banner{
    padding: 200px 0 150px;
    text-align:center;
    color: white;
 }
 .banner h3{
     /* font-size: 30px; */
     font-style:italic;
     margin: 0 0 10px 0;
 }
 /* .banner span{
     background-color:red;
     height: 5px;
     width: 160px;
     display: inline-block;
     border-radius: 10px;
 } */

 span{
    background-color:red;
    height: 5px;
    width: 160px;
    display: inline-block;
    border-radius: 10px;
}
 /* .banner h1{
     font-size:70px;
 } */
 .banner button {
     background-color: #d11818;
     color:white;
     padding: 15px 30px;
     font-size: 20px;
     letter-spacing: 2px;
     border:1px solid #d11818;
     border-radius:35px;
     transition: all 0.3s linear;
     /*transition: all 0.3s ease-in-out;*/
 }
 
 .banner button:hover {
     background-color: #d1181800;
     letter-spacing: 2px;
     
 }


/* UPCOMING EVENTS */
.event-main{
    text-align: center;
}
.event-main h2{
    margin: 0;
    font-size: 40px;
}

.event{
    display: flex;
    width: 80%;
    margin: 30px auto 0;
}
.event-box{
    width: 50%;
    margin: 20px;
}
.event-box img{
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow:rgba(0, 0, 0, 0.15) 12.95px 12.95px 2.6px;
}
.event-box h4{
    /* font-size: 20px; */
    font-size: 30px;
    margin: 25px 0 20px 0;
}

.event-box a{
    color: red;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 20px;
}

/* EXPLORE THE WORLD */
.explore-section{
    background-image: url(../images/father.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-color:rgba(0, 0, 255, 0.451);
    color: white;
    background-attachment: fixed;
}
.explore-main{
    display: flex;
}
.explore{
    width: 50%;
}
.explore h1{
    margin-bottom: 0;
}
.explore p{
    margin: 40px 0;
}
.explore a{
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: bold;
}
/* TOURS & DESTINATION */
.tours-main{
    display: flex;
}
.tour{
    padding: 14px;
}
.tour h3{
    margin: 0;
}
.tour p{
    margin: 30px 0;
    text-align: justify;
    width: 80%;
}
.tour a{
    color: red;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 20px;
}
.small{
    height: 300px;
    object-fit: cover;
    margin: 0 0 20px 0;
}
.large{
    height: 370px;
    object-fit: cover;
    margin: 0 0 20px 0;
}

/* footer */
footer{
    background-color: black;
    color: white;
    padding: 60px 0;
    text-align: center;
}

.fab{
    font-size: 30px;
    color: white;
    margin: 10px;
}

   .foooter-container {
   width: 80%;
    margin: auto;
    /* align-items: center;
    display: block; */
   
    /* padding: 30px 0;  */
/*   
    padding: 0px 0px 20px 300px; */
  }
  
  .foooter-item {
    width: 25%;
    float: left;
  }
  
  .foooter-item h3 {
    font-size: 25px;
    text-align: left;
    color: white;
  }
  
  .foooter-item ul {
    list-style: none;
    text-align: left;
    margin: 0;
    padding: 0;
  }
  
  .foooter-item ul a {
    text-decoration: none;
  }
  
  
  
  .foooter-item ul li {
    font-size: 16px;
    line-height: 30px;
    text-transform: capitalize;
    color: white;
  }
.footer-end{
    width: 80%;
    margin: 20% 1% 0% 10%;
   /* margin-top: 20%;
  margin-bottom: 1%;
  margin-left: 10%; */
    
}


/* ==========scroll bar strat======= */

/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px rgba(5, 5, 5, 0.61); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 140, 255, 0.74); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(128, 128, 128, 0.856); 
  }
  
  /* ==========scroll bar end======= */


